{% extends 'base.html' %}
{% load static %}


 {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}

    <div class="container-fluid">
         <div class="row">
            <div class="col"><a href="{% url 'ctModel' %}" class="link_wrap"> Модели картриджей </a></div>
            <div class="col">2 из 2</div>
             <div class="col-2">2 из 2</div>


         </div>

    </div>
</div>


    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}