{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}

        <div class="container">

            <div class="row">

                  <div class="col">
                       <a href="#"> <img class="img-catrige" src="{% static 'img/list.png' %}"></a>
                            <a class="link_wrap" href="#">Список картриджей</a>
                  </div>

                  <div class="col">
                       <a href="#"><img class="img-catrige" src="{% static 'img/zap.png' %}"></a>
                            <a class="link_wrap" href="#">На заправку</a>
                  </div>

                    <div class="col">
                       <a href="#"><img class="img-catrige" src="{% static 'img/zap.png' %}"></a>
                            <a class="link_wrap" href="#">На заправку</a>
                  </div>

            </div>
        </div>

        </div>


    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}