{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}

        <div class="container">
            <div class="row">
                    <div class="col">
                       <a href="#"> <img class="img-wrapper" src="{% static 'img/catrige.png' %}"></a>
                            <a class="link_wrap" href="#">Катриджи</a>
                    </div>
                    <div class="col">
                        <a href="#"><img class="img-wrapper" src="{% static 'img/per.png' %}"></a>
                            <a class="link_wrap" href="#">Комплектующие</a>
                    </div>
                    <div class="col">
                         <a href="#"><img class="img-wrapper" src="{% static 'img/print.png' %}"></a>
                            <a class="link_wrap" href="#">Принтеры </a>
                    </div>

            </div>
        </div>

        </div>


    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}