{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}

            <div class="wrap-index">

        <div class="container">
            <div class="row">
                <div class="col">
                  <div class="margin_detile">


                   <h3>Информация:<a class="Link_login" href="{%  url 'update_catrige' catrige.pk  %}"><small>(ред.)</small></a>
                        <a class="Link_login" href=" {% url 'delete_catrige' catrige.pk %}"><small>(удалить)</small></a>
                   </h3>
                   <p><strong>Категория:</strong> {{catrige.category.name }}</p>
                   <p><strong>Серийный номер:</strong>  {{ catrige.serialNumber }}</p>
                   <p><strong>Модель картриджа:</strong> {{ catrige.model.name }}</p>
                    <p><strong>Цвет картриджа:</strong> {{ catrige.model.color.name }}</p>
                   <p><strong>Статус:</strong>  {{ catrige.status.name }}<a class="Link_login" href="{% url 'update_catrige_status' catrige.pk %}"><small>(ред.)</small></a> </p>
                  </div>
                </div>

                    <div class="col">
                     {%  if catrige.model.fhoto %}
                        <img class="img-printer_detile" src="{{ catrige.model.fhoto.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/catrige.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>
            </div>


        </div>

            </div>
    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}