{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}

            <div class="container"></div>
        <div class="container">
            <h3 class="List-title">Список картриджей</h3>
                <h5>Общее колличество: {{ refueling.count }} </h5>
         <div class="row">
                <table class="table">
                          <thead>
                            <tr>
                              <th>Серийный номер</th>
                              <th>Модель картриджа</th>
                              <th>Цвет картриджа</th>
                              <th>Статус</th>
                            </tr>
                          </thead>

                     {% for c in refueling %}
                              <tbody>
                                <tr>
                                  <td> <a href="{% url 'catrige_detail' pk=c.pk %}">{{ c.serialNumber }}</a> </td>
                                  <td>{{ c.model.name }}</td>
                                  <td>{{ c.model.color.name }}</td>
                                  <td>{{ c.status.name }}</td>
                                </tr>
                              </tbody>

                    {% endfor %}
                </table>
            </div>
        </div>
            </div>


    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}