{% extends 'base.html' %}
{% load static %}



    {% block content %}

    <div class="index_form">
        <div class="container">
             <a class="Link_header" href=" {% url 'printer_detail' pk=printer.pk %}">Назад</a>
            <div class="row">
                <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}

                    <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
                </form>

            </div>
        </div>
</div>
    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}