{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}

         {% for cp in printerCatrige %}
             <div class="container">
                 <div class="row">

                 <h4>Совместимость картриджей</h4>

                 <div class="container">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>Модель</h6>
                                <div class="col-sm"><a href="{% url 'compatibility_detile' pk=cp.pk %}">{{ cp.name }}</a></div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                     <div class="col-sm">
{#                          {% for c in cp.catrige.all %}  {{ c }}<br>#}
{#                          {% endfor %}#}
                     </div>
                     </div>
                 </div>
                </div>
             </div>
         {% endfor %}


    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}