{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}

         {% for cp in printerCatrige %}
                     <h3 class="List-title">Совместимость модели картриджей и принтеров</h3>
           <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a class="Link_login" href="{% url 'printInfo' pk=cp.pk %}"> Модель: {{ cp.name }}</a>
                    </div>

                </div>
           </div>
        {% endfor %}
    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}