{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}
         <div class="container">

            <div class="row">

                   <div class="col">
                       <a href="{% url 'printerList' %}"> <img class="img-catrige" src="{% static 'img/list.png' %}"></a>
                     <a class="link_wrap" href="{% url 'printerList' %}">Список принтеров</a>
                  </div>


                  <div class="col">
                       <a href="#"> <img class="img-catrige" src="{% static 'img/rem.png' %}"></a>
                            <a class="link_wrap" href="#">Ремонт</a>
                  </div>

            </div>
        </div>




    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}