{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}


    {% block content %}


    <div class="wrap-index">
        <div class="container">
            <div class="row">

                 <div class="col-md-4">
                       <a href="#"> <img  class="img-wrapper" src="{% static 'img/pc-computer-with-monitor_icon-icons.com_56249.png' %}"></a>
                     <div class="col"><div class="link_img"> <a class="link_in_img" href="#">Рабочие места</a></div></div>
                 </div>

                  <div class="col">
                       <a href="#"> <img  class="img-wrapper" src="{% static 'img/groups_users_people_4517.png' %}"></a>
                     <div class="col"><div class="link_img"> <a class="link_in_img" href="#">Сотрудники</a></div></div>
                 </div>

            <div class="col">
                     <a href="{% url 'print' %}"><img class="img-wrapper" src="{% static 'img/print-printer-tool-with-printed-paper-outlined-symbol_icon-icons.com_57772.png' %}"></a>
                    <div class="link_img"> <a id="link_in_img"  class="link_in_img" href="{% url 'print' %}">Печать</a></div>

            </div>

             <div class="col">
                       <a href="#"> <img  class="img-wrapper" src="{% static 'img/teacherreading_89190.png' %}"></a>
                     <div class="link_img"> <a class="link_in_img" href="#">База знаний</a></div>
             </div>


            </div>
        </div>
    </div>





    {% endblock %}

    {% block footer %}
         {% include 'footer.html' %}
    {% endblock %}