{% load static  %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>


            {% block header %}
            {% endblock  %}


            {% block content %}
            {% endblock %}

            {% block paginator %}
            {% endblock %}

            <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js'%}"></script>

</body>

    <footer>
            {% block footer %}
            {% endblock %}

    </footer>

</html>