 /*============ Сброс стилей =============*/
 * {
     margin: 0;
 }
 html, body {
     height: 100%;
 }


body {
    display: flex;
    flex-direction: column;
}

.content, .header, .footer {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.content {
    flex-grow: 1;
}


 .footer {
 background: #f7f7f7;
 position: absolute;
 bottom: 0;
}

.img-wrapper{
      padding-top:90px;

    }


.link_wrap{
    color: black;
    font-size: 24px;
    display: flex;
    padding-left: 46px;
    padding-top: 55px;

}

.link_wrap:hover{
   color: red;
   text-decoration: none;

}


.zag{
    margin: 30px;
}

a>navbar-brand{

}

.img-catrige{
    text-align: center;
    margin-top: 70px;
    width: 250px;
    height: 250px;

}

.List-title{
    margin: 20px;
    padding-left: 30px;
    font-size: 28px;
    color: red;
}




.search-locationPrinter{
    margin: 10px;
    padding-left: 100px;
}



.printerDitaleLink:hover{
  text-decoration: none;
  color:red;
}

.margin_detile{
    margin: 30px;
}
.img-printer_detile{
    margin: 20px;
    height: 412px;
    width: 412px;
}

.img-printer_detile{
    height: 400px;
    width:  400px;
    margin-bottom: 20px;

}

 .zag_refueling{
    padding-left: 40px;
}

 .wrap-login{
    border-radius: 5px;

    padding: 20px;
     margin-top: 20px;
 }


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


 input[type=submit]:hover {
    background-color: #45a049;
 }
.login_lab{
    font-size: 24px;
}


 .user-info_link{
    color: #005cbf;
}
 .zag_log{
     margin-top: 15px;
 }
.logo_link{
    color:red;
    font-size: 18px;
}

.logo_link:hover{
    text-decoration: none;
    color: #1b1e21;
}
.user-info_link{
    color: #5a6268;
    font-size: 18px;
}
.Link_login{
    color: #1b1e21;
}

.Link_login:hover{
    text-decoration: none;
    color: red;
}

#logo{

}

.message{
   margin: 24px;
}

.wrap_delete{
    margin-top: 20px;
}
.wrap-search{
    width: 50%;
    margin: 50px auto;
}


.count{
    padding-top: 15px;
    font-size: 24px;
}