 /*============ Сброс стилей =============*/
 * {
     margin: 0;
 }
 html, body {
     height: 100%;
 }


body {
    display: flex;
    flex-direction: column;
}

.content, .header, .footer {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.content {
    flex-grow: 1;
}


 .footer {
 background: #f7f7f7;
 position: absolute;
 bottom: 0;
}

.img-wrapper{
      padding-top:90px;

    }


.link_wrap{
    color: black;
    font-size: 24px;
    display: flex;
    padding-left: 46px;
    padding-top: 55px;

}

.link_wrap:hover{
   color: red;
   text-decoration: none;

}




.zag{
    margin: 30px;
}

a>navbar-brand{

}

.img-catrige{
    text-align: center;
    margin-top: 70px;
    width: 250px;
    height: 250px;

}

.List-title{
    margin: 20px;
    padding-left: 30px;
    font-size: 20px;
}




.search-locationPrinter{
    margin: 10px;
    padding-left: 100px;
}

.printerDitaleLink{

}

.printerDitaleLink:hover{
  text-decoration: none;
  color:red;
}

.margin_detile{
    margin: 30px;
}
.img-printer_detile{
    margin: 20px;
    height: 412px;
    width: 412px;
}